#relative {position:relative;
           width:50px;
           height:50px;
    top: 0px;
    left: 0px;
}


#mbody {
    width:350px;
    height:450px;
    text-align:left;
    background-image:url('image/mark.jpg');
    background-repeat:no-repeat;
    position:absolute;left:300px;top:131px;
    
}
#right {
    width:500px;
    height:550px;
    position:absolute;left:800px;top:100px;
}
